.featured {
    margin-bottom: 60px;
}

.featured__text {
    font-size: 23px;
    line-height: 36px;
    color: black;
    display: flex;
    margin-bottom: 43px;
}

.featured__text p {
    flex-basis: 34%;
}

.featured__text strong {
    font-weight: bold;
}

.featured__dotted {
    background-image: url("../../img/dotted.png");
    flex-basis: 66%;
    max-height: 5px;
    margin-top: 18px;
}

.featured__table {
    border: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    background-color: #f5f5f5;
}

.featured__table div {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-right: 1px solid #e4e4e4;
}

.featured__table div:last-child {
    border-right: none;
}