.footer {
    background-image: url("../../img/bg.png");
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 12px 0;
}

.footer__text {
    font-size: 15px;
    line-height: 36px;
    color: #454242;
}

.footer__link {
    padding-right: 20px;
}